<!-- <p>app-about works!</p>

<h2>
    <button (click)="Submit()">Submit</button>
</h2> -->

<!-- <h1>Home Page Form</h1>
<form (ngSubmit)="FormSubmitted()">
    <label for="firstname">First Name : </label>
    <input type="text" id="firstname" [(ngModel)]="formval.firstname" name="firstname" required>
    <br>
    <br>
    <label for="lastname">Last Name: </label>
    <input type="text" id="lastname" [(ngModel)]="formval.lastname" name="lastname" required="true">
    <br>
    <br>
    <button type="submit">Submit Home</button>

</form>

<h1>
    <p class={{name}}>{{getfunData()}}</p>
    <p>{{name=="Satish Raja"}}</p>
</h1>
<h1 class="custom">Hello Angular</h1> -->


<h1>Child Component</h1>


<h2>{{item}}</h2>

